In [18]:
import pandas
import ibm_db
import ibm_db_sa
import ibm_db_dbi 
import sqlalchemy

In [19]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
%sql ibm_db_sa://byh71039:PASSWORD@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb?security=SSL

In [22]:
#Task 1: Display the names of the unique launch sites in the space mission
%sql SELECT DISTINCT LAUNCH_SITE from SPACEXTABLE

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [23]:
#Task 2: Display 5 records where launch sites begin with the string 'CCA'
%sql SELECT * from SPACEXTABLE where LAUNCH_SITE like 'CCA%' limit 5

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [24]:
#Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)
%sql SELECT sum(payload_mass__kg_) from SPACEXTABLE where customer like 'NASA (CRS)'

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(45596,)]

In [25]:
#Task 4: Display average payload mass carried by booster version F9 v1.1
%sql SELECT AVG(payload_mass__kg_) from SPACEXTABLE where booster_version like 'F9 v1.1'

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(2928,)]

In [26]:
#Task 5: List the date when the first successful landing outcome in ground pad was acheived.
%sql SELECT min(DATE) from SPACEXTABLE where landing__outcome like 'Success%'

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2015, 12, 22),)]

In [27]:
#Task 6: List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
%sql SELECT booster_version from SPACEXTABLE where landing__outcome like 'Success (drone ship)' and payload_mass__kg_ > 4000 and payload_mass__kg_ < 6000

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [28]:
#Task 7 List the total number of successful and failure mission outcomes
%sql select landing__outcome, COUNT(landing__outcome) as Total from SPACEXTABLE GROUP BY landing__outcome

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 22),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

In [29]:
#Task 8: List the names of the booster_versions which have carried the maximum payload mass. Use a subquery
%sql select distinct booster_version, payload_mass__kg_ from SPACEXTABLE where payload_mass__kg_ in (select max(payload_mass__kg_) from SPACEXTABLE)

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.7', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1060.3', 15600)]

In [30]:
#Task 9: List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015
%sql select landing__outcome, booster_version, launch_site, date from SPACEXTABLE where DATE LIKE '2015%' and landing__outcome like 'Failure%'

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', datetime.date(2015, 1, 10)),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', datetime.date(2015, 4, 14))]

In [31]:
#Task 10: Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order
%sql select landing__outcome, COUNT(landing__outcome) as Total from SPACEXTABLE WHERE DATE >= '2010-06-04' AND DATE <= '2017-03-20' GROUP BY landing__outcome

 * ibm_db_sa://byh71039:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('Controlled (ocean)', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 10),
 ('Precluded (drone ship)', 1),
 ('Success (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Uncontrolled (ocean)', 2)]